.md-section {
    margin: 0 auto;
    max-width: 800px;
    background: var(--cprimary3);
}
.md-container {
    margin: 0 auto;
    height: 100%;
    max-width: 640px;
    background: var(--cprimary3);
    padding: 16px 0px;
    /* box-shadow: 0 0 1px 11px hsla(0, 0%, 90%, 0.2); */
}

.md-container h1 {
    margin-top: 32px;
    margin-bottom: 52px;
}

.md-container h2 {
    margin-top: 28px;
}

.md-container img {
    width: 100%;
    margin: 8px 0;
}

.md-container p {
    text-align: justify;
}

.md-container code {
    font-family: monospace;
    background: var(--cprimary2);
    color: var(--ccontrast);
    padding: 0 2px;
    /* overflow-x: auto; */
}
.md-container pre code {
    display: block;
    font-size: 0.95em;
    overflow-x: auto;
    max-width: 100%;
    min-width: 100px;
    padding: 8px;
    margin: 0 36px;
}
.md-container ol, .md-container ul {
    margin: 12px 24px;
    text-align: justify;
}
.md-container li {
    padding: 3px 6px;
}