.layout {
    width: 100%;
    height: 100%;
}
nav {
    color: hsl(0, 0%, 90%);
    background: hsl(213, 13%, 20%);
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 52px;
    user-select: none;
}
.nav-div {
    margin: 0 auto;
    max-width: 1200px;
    height: 100%;
}
.nav-items-container {
    width: 100%;
    height: 100%;
    display: flex;
    direction: row;  
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    margin-left: 13px;
    font-size: 1.7em;
}
.nav-logo:hover {
    color: hsl(0, 0%, 80%);
}
.nav-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 13px;
}
.nav-item {
    height: 100%;
    font-size: 1.1em;
    padding: 10px;
    margin: 0;
    border: 5px solid transparent;
}
.nav-item:hover {
    border-bottom: 5px solid hsl(90, 90%, 40%);
    transition: 0.3s ease-in;
    background: hsl(213, 13%, 16%);
}
.nav-item-hidden {
    display: none;
}
.nav-menu-icon {
    display: none;   
}

/* @media screen and (max-width: 620px){
    nav {
        height: max-content;
    }
    .nav-items-container {
        display: block;
    }
    .nav-right {
        display: inline-block;
    }
    .nav-item {
        width: 100%;
    }
    .nav-menu-icon {
        display: block;
        width: 36px;
        height: 36px;
        cursor: pointer;
    }    
} */

#page-content {
    background: hsl(213, 13%, 16%);
    height: 100%;
    display: block;
    /* direction: column; */
    justify-content: center;
  }