header {
    background: var(--cheader);
    text-align: left;
    position: fixed;
    height: 48px;
    width: 100%;
    z-index: 999;
    /* border: 1px solid white; */
}

.header-logo {
    margin: 0;
    padding: 0;
    margin-left: 16px;
    font-size: 1.8rem;
    height: 100%;
    display: flex;
    align-items: center; 
    color: var(--ctextheader)
    /* border: 1px solid red; */
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    /* border: 1px solid red; */
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: var(--ctextheader);
    height: 2.5px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}
.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    background: var(--cheader);
    width: 100%;
    transform: scale(1, 0); 
    transform-origin: top;
    transition: transform 350ms ease-in-out;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a {    
    color: var(--ctextheader);
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out 100ms;
}

/* nav a:hover {
    color: var(--ctext1);
} */

.nav-toggle:checked ~ nav {
    transform: scale(1, 1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
}

.nav-item-icon {
    fill: var(--ctextheader);
    width: 24px;
}
/* .nav-item-icon:hover {
    fill: var(--ctext);
} */


@media screen and (min-width: 600px) {
    .nav-toggle-label {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr auto minmax(350px, 3fr) 1fr;
        /* box-shadow: 0 0 6px 3px var(--cprimary6); */
    }

    .header-logo {
        grid-column: 2 / 3;
        display: flex;
        align-items: center;
        /* border: 1px solid red; */
    }

    nav {
        all: unset;
        grid-column: 3 / 4;
        display: flex !important;
        justify-content: flex-end !important;
        align-items: center !important;
        height: 100%;
        /* border: 1px solid orange; */
    }

    nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        /* border: 1px solid yellow; */
    }

    nav li {
        margin-left: 2em;
        margin-bottom: 0;
    }

    nav a {
        margin: 0;
        padding: 0;
        opacity: 1;
        position: relative;
        width: 100%;
        /* border: 1px solid white; */
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: var(--ccontrast);
        position: absolute;
        bottom: -0.50em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 350ms;
    }

    nav a:hover::before {
        transform: scale(1, 1);
    }
}

#page-content {
    position: relative;
    background: var(--cpage);
    padding-top: 56px;
    height: max(100vh, 100%);
    /* max-width: 1200px; */
    margin: 0 auto;
    /* text-align: center; */
    /* border: 1px solid red; */
}
#page-content p {
    padding: 0 36px;
    text-align: justify;
}