:root {
  --cprimary: hsl(213, 13%, 13%);
  /* --cprimary: hsl(32, 38%, 53%); */
  --cprimary1: hsl(213, 13%, 10%);
  --cprimary2: hsl(213, 13%, 11%);
  --cprimary3: hsl(213, 13%, 17%);
  --cprimary4: hsl(213, 13%, 23%);
  --cprimary5: hsl(213, 13%, 25%);
  --cprimary6: hsl(213, 13%, 33%);
  --cprimary7: hsl(213, 13%, 38%);
  --cprimary8: hsl(213, 13%, 45%);
  --cprimarytrans: hsla(213, 13%, 13%, 0.5);
  --cprimary1trans: hsla(213, 13%, 15%, 0.5);
  --cprimary2trans: hsla(213, 13%, 17%, 0.5);
  --cprimary3trans: hsla(213, 13%, 19%, 0.5);
  --cprimary4trans: hsla(213, 13%, 23%, 0.5);
  --cprimary5trans: hsla(213, 13%, 27%, 0.5);
  --clight: hsl(0, 0%, 30%);
  --clight1: hsl(0, 0%, 35%);
  --clight2: hsl(0, 0%, 40%);
  --clight3: hsl(0, 0%, 45%);
  --clight4: hsl(0, 0%, 50%);
  --clight5: hsl(0, 0%, 55%);
  --csecondary: hsl(213, 13%, 13%);
  --csecondary1: hsl(213, 13%, 15%);
  --csecondary2: hsl(213, 13%, 17%);

  --ccontrast: hsl(90, 75%, 30%);
  --ccontrast1: hsl(90, 90%, 25%);
  --ccontrast2: hsl(90, 90%, 35%);
  --ccontrast3: hsl(90, 90%, 45%);
  --ccontrast4: hsl(90, 90%, 50%);
  --ctext: hsl(0, 0%, 90%);
  --ctext1: hsl(0, 0%, 82%);
  --ctext2: hsl(0, 0%, 68%);
  --ctext3: hsl(0, 0%, 55%);

  --ctext4: hsl(0, 0%, 45%);
  --ctext5: hsl(0, 0%, 35%);
  --ctext6: hsl(0, 0%, 25%);
  --ctext7: hsl(0, 0%, 15%);
  --ctext8: hsl(0, 0%, 5%);

  --cheader: hsl(213, 13%, 17%);
  --ctextheader: hsl(0, 0%, 88%);
  --cpage: var(--cprimary5);
}

body {
  margin: 0;
  color: var(--ctext);
  background: var(--cpage);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, ul {
  text-align: center;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: inherit; /* no underline */
}